web-angular2/node_modules/*
web-aurelia/node_modules/*
web-aurelia/jspm_packages/*
packages/*
**/bin/*
**/obj/*
OpenBristol.Web/views/*
OpenBristol.Web/dist/*
OpenBristol.Web/css/*
.vs/*
web-angular2/ts/*
